# Fallback codeowners for all files that do not have an explicit rule.
* @aasfaw

# Codeowners for individual folders
terra/**/* @nonhermitian @attp @aasfaw @quantumjim @rraymondhp
algorithms/* @attp @aasfaw @quantumjim @rraymondhp

aer/* @chriseclectic @attp @aasfaw @quantumjim @rraymondhp
ignis/* @dcmckayibm @yehuda-naveh @attp @aasfaw @quantumjim @rraymondhp

aqua/**/* @woodsp-ibm @dongreenberg @aasfaw
machine_learning/**/* @woodsp-ibm @dongreenberg @aasfaw
chemistry/**/* @woodsp-ibm @pbark @aasfaw
finance/**/* @woodsp-ibm @stefan-woerner @aasfaw
optimization/**/* @woodsp-ibm @stefan-woerner @aasfaw

arts/* @attp @aasfaw @quantumjim @rraymondhp
awards/**/* @attp @aasfaw @quantumjim @rraymondhp @pistoia
games/**/* @attp @aasfaw @quantumjim @rraymondhp
hello_world/**/* @quantumjim @aasfaw
